<div class='col-12 col-md-10 mb-3 mx-auto'>
    <div class='card {% if not blog_post.published_date %} border border-warning text-dark {% endif %}'>
       <div class='card-body'>
           <h5 class='card-title'>{{ blog_post.title }}</h5>
           <p class='card-text'>
               <small class='text-muted'>{{ blog_post.published_date }}</small>
               {% if truncate %}
                   {{ blog_post.text|linebreaks|truncatewords:30 }}
               {% else %}
                   {{ blog_post.text|linebreaks }}
               {% endif %}
           </p>
   
           {% if not detail %}
               {% if not blog_post.published_date %} Draft {% endif %}
               <a href="{% url 'post_detail' blog_post.id %}">View</a>
           
           {% endif %}
       </div>
   
    </div>
</div>
   